<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Requests</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Hardware Request System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/requests}">Show all requests <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" th:href="@{/requests/new}">Create new request</a>
    </div>
  </div>
</nav>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Parameters</th>
    <th scope="col">Description</th>
    <th scope="col">Created At</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="request: ${requests}">
    <td th:text="${request.name}"></td>
    <td th:text="${request.type}"></td>
    <td th:text="${request.parameters}"></td>
    <td th:text="${request.description}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>