<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new request</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Hardware Request System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" th:href="@{/requests}">Show all requests</a>
      <a class="nav-item nav-link" th:href="@{/requests/new}">Create new request</a>
    </div>
  </div>
</nav>

<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <div class="card-body">
        <form th:action="@{/requests/{id} (id=${request.id})}" th:object="${request}" method="post">
          <h3 class="text-center mt-3 mb-3" th:text="${request.name}">Request name</h3>

          <div class="d-flex">
            <div>
              <h6>Type of hardware</h6>
              <p class="card-text" th:text="${request.type}">Type</p>
            </div>
            <div class="ms-auto">
              <h6>Hardware parameters</h6>
              <p class="card-text" th:text="${request.parameters}">Parameters</p>
            </div>
          </div>
          <br>

          <h6>Description</h6>
          <p class="card-text" th:text="${request.description}">Parameters</p>

          <h6>Created At</h6>
          <p class="card-text"
             th:text="${#temporals.format(request.createdAt, 'dd/MMM/yyyy HH:mm')}">Created At</p>

          <div class="form-group" th:if="${request.status}=='Pending'">
            <label>Change status</label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio1" value="Pending" th:field="*{status}" disabled>
              <label class="form-check-label" for="inlineRadio1">Pending</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio2" value="Approved" th:field="*{status}">
              <label class="form-check-label" for="inlineRadio2">Approve</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio3" value="Rejected" th:field="*{status}">
              <label class="form-check-label" for="inlineRadio3">Reject</label>
            </div>
          </div>
          <div th:if="${request.status}!='Pending'">
            <label>Request status</label>
            <br>
            <label class="form-check-label" th:text="${request.status}"></label>
          </div>

          <br>

          <div class="box-footer d-flex">
            <button type="submit" class="btn btn-primary" th:if="${request.status=='Pending'}">Submit</button>
            <a th:href="@{/requests}" class="btn btn-danger ms-auto">Go back</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>